environment.lua
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
bin/
obj/
.vs/
.vscode/
*.VC.db
*.VC.opendb
images/test.png
.idea/
grammar/
deps/
dist/
*.vspx
*.diagsession
tests/result_images/test.png